<launch>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="baudrate" default="115200"/>
  <arg name="max_read_bytes" default="256"/>
  <arg name="idle_sleep_ms" default="5"/>
  <arg name="bag_dir" default="/home/li/camera_ws/src/camera_bridge/workspace/bags"/>
  <arg name="bag_prefix" default="omega_run"/>

  <node pkg="camera_bridge"
        type="serial_rx_bag_node"
        name="serial_rx_bag_node"
        output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baudrate" value="$(arg baudrate)"/>
    <param name="max_read_bytes" value="$(arg max_read_bytes)"/>
    <param name="idle_sleep_ms" value="$(arg idle_sleep_ms)"/>
  </node>

  <node pkg="rosbag"
        type="record"
        name="rosbag_record_serial_rx"
        output="screen"
    args="-o $(arg bag_dir)/$(arg bag_prefix) /serial/omega"/>
</launch>
